article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{
	margin:0;padding:0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
body, button, input, select, textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga","kern";
} 

a{-webkit-tap-highlight-color:rgba(255,0,0,0);}
/*a:focus{outline:thin dotted}*/
a:active,a:hover{outline:0}

a{  
	border: none;
    cursor:pointer;  
    text-decoration:none;  
    hide-focus: expression(this.hideFocus=true);  
    outline:none;  
}  
a:link,a:visited,a:hover,a:active{  
    text-decoration:none;  

}  
 a:visited , a:active{
 	    /*color: #9b9b9b;*/
 	   background-color:rgba(0, 0, 0, 0.1) ;
 } 
a:focus{  
    outline:0;   
}  


h1{margin:.67em 0;font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-size:1em;font-family:monospace,serif}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{
	border:0;
	max-width: 100%;
	width: 100%;
	height: auto;
	}
	
.img1{
	width: 100px;
    height: 50px;
}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid #c0c0c0}
legend{padding:0;border:0}
button,input,select,textarea{margin:0;font-size:100%;font-family:inherit}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
textarea{overflow:auto;vertical-align:top}

table{
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	}

ul,li{list-style-type: none;}
i{font-style: normal;}
.nowrap{word-break:keep-all;white-space:nowrap}
.break{word-break:break-all}
.hh{
word-wrap:break-word;word-break:break-all;
}
.nhh{
	white-space:nowrap;
	word-break:keep-all;
}
body {
    font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    /*
    'Helvetica Neue',Helvetica,STHeiTi,sans-serif,"Comic Sans MS",'微软雅黑',"黑体",'Microsoft YaHei',"幼圆","sans-serif","HelveticaNeue-UltraLight",'arial','Tahoma','Times New Roman','Georgia','Lucida Grande';*/
	line-height: 1;
}
html, body {
	height:100%;
}

.r1{
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	/*behavior: url(css/pie.htc);*/
}
.r2{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius: 2px 2px;
	/*behavior: url(css/pie.htc);*/
}
.r3{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/*behavior: url(css/pie.htc);*/
}
.r4{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	/*behavior: url(css/pie.htc);*/
}
.r3_3{
	-moz-border-radius:3px 3px 3px 0px;
	-webkit-border-radius:3px 3px 3px 0px;
	border-radius:3px 3px 3px 0px;
	/*behavior: url(css/pie.htc);*/
}
.rl3{
	-moz-border-radius:3px 0px 0px 3px;
	-webkit-border-radius:3px 0px 0px 3px;
	border-radius:3px 0px 0px 3px;
	/*behavior: url(css/pie.htc);*/
}
.r5{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	/*behavior: url(css/pie.htc);*/
}
.r7{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	/*behavior: url(css/pie.htc);*/
}
.r10{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/*behavior: url(css/pie.htc);*/
}
.r20{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

.rt5{
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	/*behavior: url(css/pie.htc);*/
}
.rl5{
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	/*behavior: url(css/pie.htc);*/
}
.rt2{
	-moz-border-radius:2px 2px 0px 0px;
	-webkit-border-radius:2px 2px 0px 0px;
	border-radius:2px 2px 0px 0px;
}

.rr5{
	-moz-border-radius:0px 5px 5px 0px;
	-webkit-border-radius:0px 5px 5px 0px;
	border-radius:0px 5px 5px 0px;
	/*behavior: url(css/pie.htc);*/
}
.rb5{
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	/*behavior: url(css/pie.htc);*/
}
.r15{
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	/*behavior: url(css/pie.htc);*/
}

.rtl{border-top-left-radius: 5px;}
.rtr{border-top-right-radius: 5px;}
.rbl{border-bottom-left-radius: 5px;}
.rbr{border-bottom-right-radius: 5px;}


.shadow{
	-moz-box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 5px #fff;
	box-shadow: 0px 0px 5px #fff;
	/*behavior: url(css/ie-css3.htc);
	behavior: url(css/pie.htc);*/
}

.easeWebkit{-webkit-transition:all .4s ease-out}
b b{display:block;height: 1px;overflow: hidden;background: #111}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.r4{margin: 0 1px;height: 2px}



.ha{height:auto}

.wa{width:auto}

.mw20{max-width: 20%;}
.mw25{max-width: 25%;}
.mw40{max-width: 40%;}
.mw60{max-width: 60%;}


.FFsn{
    -webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-focus:ignore;
	-moz-user-select:none;
	-moz-user-input:disabled;
}

.wp{width:100%}
.hp{height:100%}
.w20p{width:20%}
.h20p{height:20%}
.w25p{width:25%}
.h25p{height:25%}
.w33p{width:33%}
.h33p{height:33%}
.w50p{width:50%}
.h50p{height:50%}

.wh50p{height:50%;width:50%}

.w10p{width:10%}

.w30p{width:30%}
.w48p{width:46%}

.w25p{width:25%}
.w31p{width:31%}
.w32p{width:32%}

.w40p{width:40%}
.w60p{width:60%}
.w65p{width:65%}
.w70p{width:70%}
.w80p{width:80%}
.w85p{width:85%}
.w90p{width:90%}
.w95p{width: 95%;}
.wh25p{width: 25%; height: 25%;line-height: 25%;}
.wh20p{width: 20%; height: 25%;line-height: 25%;}
.t0{top:0px}
.tl0{top:0px;left:0px}
.tr0{top:0px;right:0px}
.lb0{left:0px;bottom:0px}
.tl50p{top:50%;left:50%}
.m0{margin:0px 0px 0px 0px}
.p0{padding:0px 0px 0px 0px}
.pa_b10(bottom:10px;)

.l100{left:100px}
.l17{left:17px}
.l50p{left:50%}

.t25{top:25px}
.t100{top:100px}
.t120{top:120px}

.ti_1{text-indent:1px}
.ti_2{text-indent:2px}
.ti_3{text-indent:3px}
.ti_5{text-indent:5px}
.ti_10{text-indent:10px}

.lh10{line-height:10px}
.lh15{line-height:15px}
.lh16{line-height:16px}
.lh18{line-height:16px}
.lh20{line-height:20px}
.lh23{line-height:23px}
.lh25{line-height:25px}
.lh30{line-height:30px}
.lh35{line-height:35px}
.lh40{line-height:40px}
.lh50{line-height:50px}

.h5{height:5px}
.h10{height:10px}
.h11{height:11px}
.h13{height:13px}
.h14{height:14px}
.h15{height:15px}
.h16{height:16px}
.h17{height:17px}
.h18{height:18px}
.h20{height:20px}
.h24{height:24px}
.h25{height:25px}
.h30{height:30px}
.h35{height:35px}
.h40{height:40px}
.h44{height:44px}
.h48{height:48px}
.h50{height:50px}
.h60{height:60px}
.h70{height:70px}
.h80{height:80px}
.h90{height:90px}
.h100{height:100px}

.h140{height:140px}
.h150{height:150px}
.h180{height:180px}
.h200{height:200px}
.h250{height:250px}
.h300{height:300px}
.h400{height:400px}
.h500{height:500px}
.h550{height:550px}
.h600{height:600px}
.h700{height:700px}


.w0{width:0px;*display:none}
.w1{width:1px}
.w5{width:5px}
.w6{width:6px}
.w7{width:7px}
.w8{width:8px}
.w10{width:10px}
.w11{width:11px}
.w13{width:13px}
.w14{width:14px}
.w15{width:15px}
.w16{width:16px}
.w17{width:17px}
.w18{width:18px}
.w20{width:20px}
.w22{width:22px}
.w25{width:25px}
.w30{width:30px}
.w35{width:35px}
.w40{width:40px}
.w48{width:48px}
.w50{width:50px}
.w55{width:55px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w95{width:95px}
.w100{width:100px}
.w120{width:120px}
.w150{width:150px}
.w180{width:180px}

.w200{width:200px}
.w250{width:250px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w680{width:680px}
.w700{width:700px}
.w750{width:750px}
.w800{width:800px}
.w990{width:990px}
.w1000{width:1000px}
.w1100{width:1100px}
.w1200{width:1200px}

.p2{padding:2px}
.p3{padding:3px}
.p5{padding:5px}
.p8{padding:8px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p30{padding:30px}

.pt2{padding-top:2px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt35{padding-top:35px}
.pt40{padding-top:40px}
.pt60{padding-top:60px}
.pt100{padding-top:100px}


.pt-5{padding-top:-5px}

.pl5{padding-left:5px}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}

.pr3{padding-right:3px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr25{padding-right:25px}
.pr40{padding-right:40px}

.pb0{padding-bottom:0px}
.pb2{padding-bottom:2px}
.pb5{padding-bottom:5px}

.ptb5{padding: 10px 5px;}
.ptb20{padding: 20px 5px;}
.pt0l8{padding: 0 8px;}


.pt0l10{padding: 0 10px;}
.pt0l15{padding: 0 15px;}
.pt3l8{padding: 3px 8px;}
.pt5l10{padding: 5px 10px;}
.pt5l25{padding: 5px 25px;}
.pt5l40{padding: 5px 40px;}
.pbt5{padding: 6px 15px;}
.ptb30{padding: 30px 0;}
.ptb15{padding: 15px 0;}


.pb0{padding: 10px 0;}
.pb8{padding: 8px 0;}
.pb4{padding: 4px 0;}
.pb2{padding: 2px 0;}

.ma0{margin: 0 auto;}

.mr2{margin-right:2px}
.mr3{margin-right:3px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr13{margin-right:13px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}


.mt-2{margin-top:-2px}
.mt-3{margin-top:-3px}
.mt-5{margin-top:-5px}
.mt-10{margin-top:-10px}
.mt-50{margin-top:-50px}
.mt1{margin-top:1px}
.mt2{margin-top:2px}
.mt3{margin-top:3px}
.mt4{margin-top:4px}
.mt5{margin-top:5px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt31{margin-top:31px}
.mt40{margin-top:40px}
.mt44{margin-top:44px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}
.mt70{margin-top:70px}
.mt80{margin-top:80px}
.mt90{margin-top:90px}
.mt100{margin-top:100px}
.mt120{margin-top:120px}



.ml-10{margin-left:-10px}
.ml-30{margin-left:-30px}
.ml-40{margin-left:-40px}
.ml-50{margin-left:-50px}
.ml-90{margin-left:-90px}
.ml0{margin-left:0px}
.ml2{margin-left:2px}
.ml3{margin-left:3px}
.ml4{margin-left:4px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml18{margin-left:18px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml42{margin-left:42px}
.ml50{margin-left:50px}
.ml60{margin-left:60px}
.ml70{margin-left:70px}
.ml80{margin-left:80px}
.ml90{margin-left:90px}
.ml100{margin-left:100px}
.ml120{margin-left:120px}
.ml140{margin-left:140px}
.ml150{margin-left:150px}

.mb10{margin-bottom:10px}
.mb5{margin-bottom:5px}
.mb1{margin-bottom:1px}
.mb3{margin-bottom:3px}
.mb60{margin-bottom:60px}

.ma{margin-left: auto;margin-right: auto}
.m1{margin:1px}
.m3{margin:3px}
.m5{margin:5px}
.m8{margin:8px}
.m10{margin:10px}
.m15{margin:15px}

.m15a{margin:15px auto}

.pa{position:absolute}

.pf{position:fixed;-webkit-transform: translateZ(0)}
.pr{position:relative}
.ps{position:static}

.z-1{z-index:-1}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.z5{z-index:5}
.z6{z-index:6}
.z7{z-index:7}
.z8{z-index:8}
.z9{z-index:9}
.z10{z-index:10}
.z11{z-index:11}
.z12{z-index:12}
.z13{z-index:13}
.z14{z-index:14}
.z15{z-index:15}
.z16{z-index:16}
.z17{z-index:17}
.z18{z-index:18}
.z19{z-index:19}
.z20{z-index:20}


.bt_1{border-top:none}
.bl_1{border-left:none}

.pen{pointer-events:none}
.cd{cursor: default}
.cp{cursor: pointer}
.cm{cursor: move}
.ct{cursor: text}
.cna{cursor:not-allowed}
.cne{cursor: ne-resize}
.cnw{cursor: nw-resize}
.ce{cursor: e-resize}
.cn{cursor: n-resize}
.cpp{cursor:inherit} 

.fwb{font-weight: bold}
.fs5{font-size: 5px}
.fs8{font-size: 8px}
.fs9{font-size: 9px}
.fs10{font-size: 10px}
.fs12{font-size: 12px}
.fs13{font-size: 13px}
.fs14{font-size: 14px}
.fs15{font-size: 15px}
.fs16{font-size: 16px}
.fs18{font-size: 18px}
.fs20{font-size: 20px}
.fs24{font-size: 24px}
.fs26{font-size: 26px}
.fs30{font-size: 30px}
.fs32{font-size: 32px}
.fs40{font-size: 40px}
.fs48{font-size: 48px}
.fs60{font-size: 60px}
.tdn{text-decoration:none}
.tdu{text-decoration: underline}
.tdl{text-decoration: line-through}

.tal{text-align: left}
.tar{text-align: right}
.tac{text-align: center}

.tlf{table-layout:fixed; }

.fr{float: right}
.fl{float: left}
.oh{overflow:hidden;text-overflow:ellipsis}
.oxh{overflow-x:hidden}
.oyh{overflow-y:hidden}
.oa{overflow: auto}
.oya{overflow-y:auto}
.oxa{overflow-y:auto}
.os{overflow: scroll}
.dn{display:none; width:0px; height:0px}
.db{display: block}

.dmib{display:-moz-inline-box}
.dib{display:inline-block}
.di{display:inline}

.zm{zoom:1}

.cf{zoom:1;}
.cf:after{clear: both;content: '.';display:block;visibility:hidden;height:0}

.cif{display:inline-block}
.cif:after{clear: both;content: '.';display:block;visibility:hidden;height:0}
*html .cf{height:1%}

.cl{clear:left}

.dtr{display:table-row}
.di{display: inline}
.vv{visibility:visible}
.vh{visibility:hidden}
.vc{visibility: collapse}
.wsn{white-space:nowrap}
.wbk{word-break:keep-all}
.cn{clear:none}
.lsn{list-style:none} 

.imd{ime-mode:disabled}/*½ûÖ¹ÊäÈë·¨*/

.bb_1{border-bottom:1px solid #000000}
.bb_2{border-bottom:1px solid #013358}
.bb_15{border-bottom:solid 1px #d0d0d0}

.btb_1{border-top:solid 1px #d0d0d0;border-bottom:solid 1px #d0d0d0}
.blr_1{border-left:solid 1px #d0d0d0;border-right:solid 1px #d0d0d0}



.c_10{color: #000000}
.c_11{color: #333333}
.c_12{color: #666666}
.c_13{color: #9b9b9b}
.c_14{color: #aaaaaa}
.c_15{color: #e5e5e5}
.c_16{color: #cccccc}
.c_17{color: #dddddd}
.c_18{color: #eeeeee}
.c_19{color: #ffffff}

.c_20{color: #ff5555}/*#ff3e3e 9b9b9b*/
.c_21{color: #883e3e}
.c_22{color: #a17d24}

.c_23{color: #FF5555;}/*webapp红色*/
.c_24{color: #404040;}/*webapp灰色*/
.c_25{color:#189715}/*绿色*/
.c_26{color: #818285;}/*底部webapp灰色2*/
.c_27{color:#a3c856}/*退款绿色*/

.c_28{color: #6f6f6f;}
.c_29{color: #585858;}
.c_30{color: #ff9e05}




.b0{border:0px}
.b_0{border:1px solid #ff3e3e}
.b_1{border:1px solid red}
.b_2{border:1px solid blue}
.b_3{border:1px solid green}
.b_4{border:1px solid #809DB9}
.b_5{border:1px solid #ffffff}
.b_6{border:1px solid #DBDBDB}
.b_7{border:1px solid #4D90F0}
.b_8{border:1px solid #2EA3E0}
.b_9{border:1px solid #D4D0C8}

.b_10{border:1px solid #000000}
.b_11{border:1px solid #333333}
.b_12{border:1px solid #666666}
.b_13{border:1px solid #9b9b9b}
.b_14{border:1px solid #aaaaaa}
.b_15{border:1px solid #e5e5e5}
.b_16{border:1px solid #cccccc}
.b_17{border:1px solid #dddddd}
.b_18{border:1px solid #eeeeee}
.b_19{border:1px solid #ffffff}

.b_20{border:1px solid #ff3e3e}
.b_21{border:1px solid #883e3e}
.b_22{border:1px solid #adadad}
.b_23{border-left: 1px solid #ff5555;}
.b_24{border: 1px solid #ff5555;}
.btm_24{border-bottom: 1px solid #ff5555;}

.bd_0{border:dashed 1px #e6e6e6}

.bx{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.bs0{border-spacing: 0}
.bcc{border-collapse: collapse}
.vab{vertical-align: baseline}
.vat{vertical-align: top}
.vam{vertical-align: middle}
.vab{vertical-align: bottom}

.bc_0{background-color: transparent; }
.bc_1{background-color: #000000}
.bc_2{background-color: #1f1f1f}
.bc_3{background-color: #2a2a2a}
.bc_4{background-color: #111111}
.bc_5{background-color: #666666}
.bc_6{background-color: #003399}
.bc_7{background-color: #ffffff}
.bc_8{background-color: #3e3e3e}
.bc_9{background-color: #4c4c4c}

/*按钮样式*/
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
  transition: background-color .3s ease-out,border-color .3s ease-out;
}
.btn_active,.btn:active{
;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.15);box-shadow:inset 0 3px 5px rgba(0,0,0,.15);
}
.btn_disabled{
	pointer-events: none;
	border-color: transparent;
	cursor:not-allowed;
	opacity: .45;
	-webkit-box-shadow: none;
	box-shadow: none
}
.default{background-color: #e6e6e6;color:#444}
.default:focus,.default:hover{background-color:#d4d4d4}
.default:active{background-image:none;background-color:#c2c2c2}

.primary{background-color: #0e90d2;color:#fff}
.primary:focus,.primary:hover{background-color:#0c79b1}
.primary:active{background-image:none;background-color:#0a628f}

.secondary{background-color: #3bb4f2;color:#fff}
.secondary:focus,.secondary:hover{background-color: #19a7f0}
.secondary:active{background-image:none;background-color: #0e93d7}

.success{background-color: #5eb95e;color:#fff}
.success:focus,.success:hover{background-color: #4aaa4a}
.success:active{background-image:none;background-color: #3f913f}

.warning{background-color: #F37B1D;color:#fff}
.warning:focus,.warning:hover{background-color: #e0690c}
.warning:active{background-image:none;background-color: #be590a}

.danger{background-color: #dd514c;color:#fff}
.danger:focus,.danger:hover{background-color: #d7342e}
.danger:active{background-image:none;background-color: #be2924}


/*Tab样式*/
.tabDefault{background-color: #4db4ff;color: #ffffff;cursor: pointer;}
.tabDefault:hover{background: #81caff;color: #ffffff;}
.tabDefault_focus,.TabDefault:active{background: #ffffff;color: #4db4ff;}

.tabDisable{background-color: #4db4ff;color: #eeeeee;}
.tabDisable:active,.TabDisable:hover{background: #4db4ff;color: #eeeeee;}

.tab{width:100%;background-color: #4db4ff;line-height:30px;}

.tab li{
	padding: 0 15px;
	margin-top:3px;
	display:inline-block;
	-moz-border-radius:2px 2px 0px 0px;
	-webkit-border-radius:2px 2px 0px 0px;
	border-radius:2px 2px 0px 0px;
}

.tabPopDefault{background-color: #dcdcdc;color: #5a5a5a;cursor: pointer;}
.tabPopDefault:hover{background: #dcdcdc;color: #5a5a5a;}
.tabPopDefault_focus,.tabPopDefault:active{	background: #ffffff;color: #5a5a5a;}

.tabPopDisable{background-color: #dcdcdc;color: #a4a4a4;}
.tabPopDisable:active,.tabPopDisable:hover{background: #dcdcdc;color: #a4a4a4;}

.tabPop{
	width:100%;
	background-color: #dcdcdc;
	line-height:27px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius: 2px 2px;
}
.tabPop li{display:inline-block;height: 30px;text-align: center;}

.bc_10{background-color: #000000}
.bc_11{background-color: #333333}
.bc_12{background-color: #666666}
.bc_13{background-color: #9b9b9b} 
.bc_14{background-color: #aaaaaa}
.bc_15{background-color: #F0F0F0}
.bc_16{background-color: #cccccc}
.bc_17{background-color: #dddddd}
.bc_18{background-color: #eeeeee}
.bc_19{background-color: #ffffff}


.bc_20{background-color: #ff5555}
.bc_21{background-color: #883e3e}
.bc_22{background-color: #fff0da;}
.bc_23{background-color: #ff9e05;}
.bc_24{background-color: #a3c856;}
.bc_25{background-color: #e1391c;}
.bc_26{background-color: #fa4646;}
.bc_27{background-color: #f39801;}/*分享*/
.bc_28{background-color: #ff6600;}/*橘红色*/
.bc_29{background-color: #189715;}/*绿色*/


.bc_30{background-color: #008476;}/*定位*/
.bc_31{background-color: #f8dfdf;}


/*监控系统颜色*/
.bc_32{background-color:#049390 ;}
.bc_33{background-color:#fdad19 ;}
.bc_34{background-color: #f81623;}
.bc_35{background-color: #f27d62;}
.bc_36{background-color: #60d695;}
.bc_37{background-color: #b0b0b0;}

/*新版webapp颜色*/
.bc_38{background-color: #df3305}
.bc_39{background-color: #17bdea}
.bc_40{background-color: #ff5050}
.bc_41{background-color: #f36a40}


/*zc项目*/
/*蓝色系*/
.bc_60{background-color: #00497e}
.bc_61{background-color: #2e6491}
.bc_62{background-color: #0074c9}
.bc_63{background-color: #7195b3}
.bc_64{background-color: #4db4ff}
.bc_65{background-color: #81caff}


/*灰色系*/
.bc_70{background-color: #5a5a5a}
.bc_71{background-color: #8c8c8c}
.bc_72{background-color: #a4a4a4}
.bc_73{background-color: #bfbfbf}
.bc_74{background-color: #dcdcdc}
.bc_75{background-color: #e1e1e1}
.bc_76{background-color: #e3e3e3}
.bc_77{background-color: #ececec}
.bc_78{background-color: #eeeeee}
.bc_79{background-color: #f2f2f2}
.bc_80{background-color: #f3f3f3}


/*蓝色系*/
.c_60{color: #00497e}
.c_61{color: #2e6491}
.c_62{color: #0074c9}
.c_63{color: #7195b3}
.c_64{color: #4db4ff}

/*灰色系*/
.b_70{color: #5a5a5a}
.b_71{color: #8c8c8c}
.b_72{color: #a4a4a4}
.b_73{color: #bfbfbf}
.b_74{color: #dcdcdc}
.b_75{color: #e1e1e1}
.b_76{color: #e3e3e3}
.b_77{color: #ececec}
.b_78{color: #eeeeee}
.b_79{color: #f2f2f2}
.b_80{color: #f3f3f3}


/*自定义bar的样式*/
.scroll-webkit::-webkit-scrollbar{width: 5px; height:8px;margin-right: 2px;}
.scroll-webkit::-webkit-scrollbar-thumb{background: #ACAFA8; border-radius: 5px;width: 5px; height:8px; overflow: hidden;}
.scroll-webkit::-webkit-scrollbar-thumb:hover{background: #7B7C77; overflow: auto;}
.scroll-webkit::-webkit-scrollbar-thumb:active{background: #4B4A45; overflow: auto;}

/*自定义bar的样式*/
.scroll-normal::-webkit-scrollbar-track{background: rgba(0,0,0,.1);}
.scroll-normal::-webkit-scrollbar-thumb{background: rgba(0,0,0,.3);}
.scroll-normal::-webkit-scrollbar-thumb:hover{background: #7B7C77; overflow: auto;}
.scroll-normal::-webkit-scrollbar-thumb:active{background: #4B4A45; overflow: auto;}

/*自定义bar的样式*/

/*webkit滚动条*/
.scroll-apple::-webkit-scrollbar{
	width:8px;
	height: 8px;
	margin-right:1px;
	border-width:0;
	border-color:#999;
}
.scroll-apple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.scroll-apple::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,.2);
	border-radius:8px;
}

/*自定义bar的默认样式*/
.bar_default{border-radius: 5px; overflow: hidden;}
.bar_default A{background: #ACAFA8; border-radius: 5px;}
.bar_default A:hover{background: #7B7C77; border-radius: 5px;}
.bar_default A:active{background: #4B4A45; border-radius: 5px;}

.ts{text-shadow: 1px 1px 3px #333333}
.ts_1{text-shadow: 0px 1px 0px #ffffff}
.ts_2{text-shadow: 0 -1px 2px #666}
.ts_3{text-shadow: 0 1px 0 #EEE !important}

.checkBox_focus{
    border:solid 1px #F9E171; 
    background:#FDF2CC;
}
.checkBox_check{
    background: url(../images/checkmark.png) -5px -5px no-repeat scroll transparent;
}
.checkBox_disable{
    background: url(../images/checkmark_disable.png) -5px -5px no-repeat scroll transparent;
}
.radiobtn_check {
    background: url(../images/radiobutton.png) 1px 0px no-repeat scroll transparent;
}
.radiobtn_uncheck{
    background: url(../images/radiobutton.png) -18px 0px no-repeat scroll transparent;
}
.input {padding:4px 7px;padding-right:25px}
.input_normal {
    background:url(../images/textbg.png); 
    background-repeat: repeat-x; 
    background-color: #ffffff;
}

.overlay{background:url(../images/overlay.png) 0px 0px}
.input_disable{background:url(../images/textbg_disable.png); background-repeat: repeat-x}
.input_focus{background-color: #FBFCEB;border:1px solid #EDDCA0}
.input_error{background-color: #FCEFF0;border:1px solid #FEB1B1}
.input_ok{background-color: #EBFAEC;border:1px solid #75E689}


a{text-decoration:none}
a:link{text-decoration:none}   /* 指正常的未被访问过的链接*/
/*a:visited{text-decoration:none} 指已经访问过的链接*/
a:hover{text-decoration:none}/*指鼠标在链接*/
a:active{text-decoration:none}/* 指正在点的链接*/ 
/*a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0.1)}*/


/* CSS 滑动效果*/

@-webkit-keyframes show-right {
	0%   { -webkit-transform: translateZ( -200px ); }
	40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-right {
	0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
	40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-right {
	0%   { -moz-transform: translateZ( -200px ); }
	40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-right {
	0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
	40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-right {
	0%   { transform: translateZ( -200px ); }
	40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { transform: translateZ( 0px ); }
}

@keyframes hide-right {
	0%   { transform: translateZ( 0px ); visibility: visible; }
	40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { transform: translateZ( -200px ); visibility: hidden; }
}


		
@-webkit-keyframes show-left {
	0%   { -webkit-transform: translateZ( -200px ); }
	40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-left {
	0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
	40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-left {
	0%   { -moz-transform: translateZ( -200px ); }
	40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-left {
	0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
	40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-left {
	0%   { transform: translateZ( -200px ); }
	40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { transform: translateZ( 0px ); }
}

@keyframes hide-left {
	0%   { transform: translateZ( 0px ); visibility: visible; }
	40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { transform: translateZ( -200px ); visibility: hidden; }
}


.load8 .loader {
margin: 6em auto;
font-size: 10px;
position: relative;
text-indent: -9999em;
border-top: 0.6em solid rgba(155, 155, 155, 0.4);
border-right: 0.6em solid rgba(155, 155, 155, 0.4);
border-bottom: 0.6em solid rgba(155, 155, 155, 0.4);
border-left: 0.6em solid #a0a0a0;
-webkit-animation: load8 0.6s infinite linear;
animation: load8 0.6s infinite linear;
}
.load8 .loader,
.load8 .loader:after {
border-radius: 50%;
width: 2em;
height: 2em;
}
@-webkit-keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

.tipsAnimationIn{/**x轴淡入**/
-webkit-animation:flipInX .4s .2s ease both;
-moz-animation:flipInX .4s .2s ease both}
@-webkit-keyframes flipInX{
0%{-webkit-transform:perspective(400px) rotateX(90deg);
opacity:0;display: block;}
40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
70%{-webkit-transform:perspective(400px) rotateX(10deg)}
100%{-webkit-transform:perspective(400px) rotateX(0deg);
opacity:1}
}
@-moz-keyframes flipInX{
0%{-moz-transform:perspective(400px) rotateX(90deg);
opacity:0}
40%{-moz-transform:perspective(400px) rotateX(-10deg)}
70%{-moz-transform:perspective(400px) rotateX(10deg)}
100%{-moz-transform:perspective(400px) rotateX(0deg);
opacity:1}
}

.tipsAnimationOut{/**x轴淡出**/
-webkit-animation:flipOutX .4s .2s ease both;
-moz-animation:flipOutX .4s .2s ease both}
@-webkit-keyframes flipOutX{
0%{-webkit-transform:perspective(400px) rotateX(0deg);
opacity:1}
100%{-webkit-transform:perspective(400px) rotateX(90deg);
opacity:0}
}
@-moz-keyframes flipOutX{
0%{-moz-transform:perspective(400px) rotateX(0deg);
opacity:1}
100%{-moz-transform:perspective(400px) rotateX(90deg);
opacity:0;display: none;}
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
            transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
            transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

 .zoomIn {
  animation:zoomIn 1s forwards linear;
  -moz-animation:zoomIn 1s forwards linear;
  -webkit-animation:zoomIn 1s forwards linear;
}
.zoomInUp {
  animation:zoomInUp 1s forwards linear;
  -moz-animation:zoomInUp 1s forwards linear;
  -webkit-animation:zoomInUp 1s forwards linear;
}

.zoomInUp2 {
  animation:zoomInUp 2s forwards linear;
  -moz-animation:zoomInUp 2s forwards linear;
  -webkit-animation:zoomInUp 2s forwards linear;
}


ul{
	margin: 0;
	padding: 0;
	background: #fff;
}

.head_bottom{
	border-bottom: 1px solid #b0b0b0;
}
.head_bottom_e{
	border-bottom: 1px solid #e5e5e5;
}
.head_bottom_red{
	border-bottom: 1px solid #fa4646;
}
#menu_bottom{
	border-top: 1px solid #b0b0b0;
}
.head-marign{
	margin-top: 45px;
}

.dflex{
 		 width: 50%;
 		 float: left;
         text-align: center;
 	}
 	
.sb_btn{
  	width: 90%;
  	margin: 15px auto;
}

.ls{letter-spacing: 1px;}

/*文字截断*/

.ui-whitespace {
  box-sizing: border-box;
}
.ui-nowrap {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dom-content {
  display: inline-block;
  width: 140px;
  position: relative;
  z-index: 0;
}

 .timeline_line {
  display: inline-block;
  position: relative;
  left: 5px;
  height: 55px;
  line-height: 23px;
  vertical-align: top;
  border-left: 1px solid #b0b0b0;
}
		
.btn_x{
  position: absolute;
  top: 13px;
}

.con_right{
		max-width: 70%;
		width: 100%;
	}
.con_right p{
		margin: 3px 0 auto 5px;
		padding: 2px 0;
	}
.par8{right:8px}

.dom-content1{
	width: 220px;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */

  .dom-content1{
  		width: 180px;
  	}

}





/*新版webapp css*/
.pro_ins{
	    padding: 0 20px;
}
.pro_p p{
	line-height: 20px;
}
.pro_p, .sao_p{
	font-size: 15px;
}
.pro_p ul li{
	list-style-type: disc;
}
.pro_p .pro_ul  {
	padding-left:20px 
}
.pro_p .pro_ul li{
	padding-bottom: 10px;
}
  
.pro_p .points_ul li{
	list-style-type: none;
	padding-bottom: 10px;
	line-height: 20px;
}
#view_saowei{
	background: #f53544 url("../imgs/Bg_picture@2x_02.png") no-repeat top left;
	background-size: 100% auto;
	/*height: 100%*/
}
.saowei_ins{
    padding: 10px 15px;
    margin: 180px 20px 20px;
    background-color: #f0f0f0;
    z-index: 1000;
    border-radius: 5px;
}

.sao_p table{
	text-align: center;
	width: 100%;
	max-width: 100%
}
.sao_left{
	text-align: left;
}
.sao_table tr{
 height: 30px;
 line-height: 30px
}
.sao_table tr td{
	width: 33.3%
}
/*我的红包*/
.cs_btn{
  	width: 50%;
  	margin: 15px auto;
}
.red_cash{
	text-align: center;
}
.cash_ul li , .sign_in_ul li{
	width: 95%;
    margin: 0 auto;
}
.cs_m{
	color: #fa740d
}
.cs_m2{

}

/*签到*/
.sign_in_ul li{

}

/*首页*/
.home_info{

}
.home_ul li{
  margin: 5px auto
}
.par25{
	right: 25px;
}

/*商户详情*/
.m_detail{
	text-align: center;
}
.m_content{

}

/*我的积分*/


/*lv add css*/
.a1_opacity25{opacity: 0.25;}
.a1_Dialog { position: absolute; z-index: 100; left: 50%; top: 50%; margin-top: -350px; margin-left: -268px; width:526px; height:571px; border:1px solid #bfbfbf; background:#eeeeee;}
.a1_DialogContent {width:510px; height: 538px;background: #FFFFFF;position: absolute;z-index: 100; left: 50%; top: 50%; margin-top: -260px; margin-left: -256px;}

.ml-250{margin-left:-250px;}
.mt-400{margin-top:-400px;}

.w76{width: 76px;}
.user_new_sub{width: 153px;line-height: 28px;}
.user_new_content {width:486px; height: 538px;background: #FFFFFF;position: absolute;z-index: 100; left: 50%; top: 50%; margin-top: -227px; margin-left: -258px;padding: 15px;}
.a1_b10{bottom:10px;}
.a1_b20{bottom:20px;}
.a1_b30{bottom:30px;}

.a1_l10{left:10px;}
.a1_l20{left:20px;}
.a1_l30{left:30px;}
.a1_l40{left:40px;}