body{background:url(../imgs/black_background.jpg) no-repeat;background-size: 100% 100%;}
/*.bc_img{background:url(../imgs/black_background.png) no-repeat;background-size: 100% 100%;}*/
/*****文本颜色*****/
	/*灰色文本*/
.c_10{color:#000000}
.c_11{color:#0d0d0d}
.c_12{color:#1a1a1a}
.c_13{color:#262626}
.c_14{color:#333333}
.c_15{color:#404040}
.c_16{color:#4d4d4d}
.c_17{color:#595959}
.c_18{color:#666666}
.c_19{color:#737373}
.c_20{color:#808080}
.c_21{color:#8c8c8c}
.c_22{color:#999999}
.c_23{color:#a6a6a6}
.c_24{color:#b3b3b3}
.c_25{color:#bfbfbf}
.c_26{color:#cccccc}
.c_27{color:#d9d9d9}
.c_28{color:#e6e6e6}
.c_29{color:#f2f2f2}
.c_30{color:#ffffff}
.fc_1{color:#ffffff}
.fc_2{color:#8c8c8c}
.fc_3{color:#d9d9d9}
.fc_3:hover{color:#03598a}
/*黑色版本新添加灰色系*/

	/*高亮文本*/
.c_41{color:#cc3300}/*红色文本*/
.c_42{color:#ffcc00}/*黄色文本*/
.c_43{color:#ffff4d}/*亮黄色文本*/
.c_44{color:#009999}/*绿蓝色文本*/
.c_45{color:#4c0099}/*蓝紫色文本*/
.c_46{color:#5eb95e}/*绿色文本*/
.c_47{color:#262626}
.c_48{color:#f2f2f2}
.c_49{color:#40b6f2}/*浅蓝色文本*/

/******背景颜色*****/
	/*灰色背景*/
.bc_0{background-color:transparent}
.bc_10{background-color:#000000}
.bc_11{background-color:#0d0d0d}
.bc_12{background-color:#1a1a1a}
.bc_13{background-color:#262626}
.bc_14{background-color:#333333}
.bc_15{background-color:#404040}
.bc_16{background-color:#4d4d4d}
.bc_17{background-color:#595959}
.bc_18{background-color:#666666}
.bc_19{background-color:#737373}
.bc_20{background-color:#808080}
.bc_21{background-color:#8c8c8c}
.bc_22{background-color:#999999}
.bc_23{background-color:#a6a6a6}
.bc_24{background-color:#b3b3b3}
.bc_25{background-color:#bfbfbf}
.bc_26{background-color:#cccccc}
.bc_27{background-color:#d9d9d9}
.bc_28{background-color:#e6e6e6}
.bc_29{background-color:#f2f2f2}
.bc_30{background-color:#ffffff}

	/*高亮背景*/
.bc_41{background-color:#cc3300}/*红色背景*/
.bc_42{background-color:#ffcc00}/*黄色背景*/
.bc_43{background-color:#ffff4d}/*亮黄色背景*/
.bc_44{background-color:#009999}/*绿蓝色背景*/
.bc_45{background-color:#4c0099}/*蓝紫色背景*/
.bc_46{background-color:#5eb95e}/*绿色背景*/
.bc_47{background-color:#262626}
.bc_48{background-color:#f2f2f2}
.bc_49{background-color:#40b6f2}/*浅蓝色背景*/
/*设计添加背景*/
.bc_50{background-color:#14a9fc}
.bc_51{background-color:#0069b7}
.bg_1{background-color:#002c4c}
.bg_2{background-color:#1079c7}
/*****边框颜色******/
	/*灰色边框*/
.b_10{border-color:#000000}
.b_11{border-color:#0d0d0d}
.b_12{border-color:#1a1a1a}
.b_13{border-color:#262626}
.b_14{border-color:#333333}
.b_15{border-color:#404040}
.b_16{border-color:#4d4d4d}
.b_17{border-color:#595959}
.b_18{border-color:#666666}
.b_19{border-color:#737373}
.b_20{border-color:#808080}
.b_21{border-color:#8c8c8c}
.b_22{border-color:#999999}
.b_23{border-color:#a6a6a6}
.b_24{border-color:#b3b3b3}
.b_25{border-color:#bfbfbf}
.b_26{border-color:#cccccc}
.b_27{border-color:#d9d9d9}
.b_28{border-color:#e6e6e6}
.b_29{border-color:#f2f2f2}
.b_30{border-color:#ffffff}

	/*高亮边框*/
.b_41{border-color:#cc3300}/*红色边框*/
.b_42{border-color:#ffcc00}/*黄色边框*/
.b_43{border-color:#ffff4d}/*亮黄色边框*/
.b_44{border-color:#009999}/*绿蓝色边框*/
.b_45{border-color:#4c0099}/*蓝紫色边框*/
.b_46{border-color:#5eb95e}/*绿黑色边框*/
.b_47{border-color:#262626}
.b_48{border-color:#f2f2f2}
.b_49{border-color:#40b6f2}/*浅蓝色边框*/
.b_1{border-color:#ffffff}
.b_2{border-bottom: solid 1px #1079c7}
.b_3{border-color:#ffffff}
.b_4{border-color:#0069b7}
.bl_5{border-left:solid 5px #ffffff;}
.bl_6{border-left:solid 5px #0069b7;}
/*设计图边框颜色*/
.b_53{border-color:#1079c7}
/*边框阴影*/
.shadow1{box-shadow: 0 1px 0 0 #fff;}
.shadow2{box-shadow: 1px 1px 1px 1px #999;}
.shadow3{box-shadow: -3px 4px 10px #404040}
/****按钮样式****/
.btn_black{background-color:#737373}
.btn_black:hover{color:#ffffff}
.btn_black:active{background-color:#595959;color:#ffffff;}

.c_0{background:##15a9fd;color:#ffffff}
.c_1{background-color: #dd514c;color:#fff}/*danger*/
.c_1:focus,.c_1:hover{background-color: #d7342e}
.c_1:active{background-image:none;background-color: #be2924}

.c_2{background-color: #5eb95e;color:#fff}/*success*/
.c_2:focus,.c_2:hover{background-color: #4aaa4a}
.c_2:active{background-image:none;background-color: #3f913f}

.c_3{background-color: #7f00ff;color:#fff}/*secondary*/
.c_3:focus,.c_3:hover{background-color: #5900b3}
.c_3:active{background-image:none;background-color: #400080}

.c_4{background-color: #F37B1D;color:#fff}/*warning*/
.c_4:focus,.c_4:hover{background-color: #e0690c}
.c_4:active{background-image:none;background-color: #be590a}

.c_5{background-color: #0e90d2;color:#fff}/*primary*/
.c_5:focus,.c_5:hover{background-color:#0c79b1}
.c_5:active{background-image:none;background-color:#0a628f}

.c_6{background-color: #e6e6e6;color:#444;opacity:.8;}/*default*/
.c_6:focus,.c_6:hover{background-color:#d4d4d4}
.c_6:active{background-image:none;background-color:#c2c2c2}

.c_7{background-color:#404040}
.c_7:hover{color:#ffffff}
.c_7:active{background-color:#000000;color:#ffffff;}
.c_8:focus,.c_8:hover{background-color:#1079c7;color:#ffffff}
/*table样式*/
.tb_head th{border:1px solid #404040;background-color:#222222}
.tb_bodies tr td{border:1px solid #404040;}
.tb_body tr:nth-child(even){background-color:rgba(0,0,0,0.08)}
.tb_body tr:hover{background:rgba(20,20,20,0.3)}
.selectedRow{border-top: 1px solid #ffffff;border-bottom: 1px solid #ffffff;}
.ro_ch::before{
	content: '';
	display: block;
	width: 5px;
	height:5px;
	margin:0 auto;
	margin-top:5px;
	transition:all .5s;
	border-radius: 10px;
}
.ro_ch{
	width:15px;
	height:15px;
	border-radius:15px;
	border-width:1px;
	border:1px solid #bfbfbf;
	border-style:solid;
	cursor: pointer;
	float:left;
}
:checked + .ro_ch::before{
	background-color: #4db4ff;
}
:disabled + .ro_ch::before{
	background-color:#cccccc;
}
:disabled + .ro_ch{
	border:1px solid #cccccc;
}
.choseBox{width: 15px; height: 15px; background:url(../img/checkBox_1.png) no-repeat; cursor: pointer; display: block; background-size: 100% 100%;}
.choseBox::before{content:'';display: block;width: 15px; height: 15px; background-size:100% 100%; background-repeat: no-repeat;}
:checked + .choseBox::before{background-image:url(../img/checkBox.png);}

.userBack{background:#002C4C;}
.userShadow{box-shadow: -3px 4px 10px #999;}
/*背景透明度添加*/
.bc_opt1{background:rgba(0,0,0,0.1);}
.bc_opt2{background:rgba(0,0,0,0.1);color:#fff;}
.bc_opt3{background:rgba(0,0,0,0.5);}
.bc_opt4{background:rgba(0,0,0,0.1);}
/*全局的icon图*/
.refresh{ background-image:url(../imgs/rtdream/refresh1.png); background-repeat:no-repeat; }
.person_big_fontsize{ background-image:url(../imgs/rtdream/fontBig1.png); background-repeat:no-repeat; }
.person_small_fontsize{ background-image:url(../imgs/rtdream/fontSmall1.png); background-repeat:no-repeat; }
.zc_person_body_manyPicture{ background-image:url(../imgs/rtdream/canvas1.png); background-repeat:no-repeat; }
.zc_person_body_market{ background-image:url(../imgs/rtdream/market1.png); background-repeat:no-repeat;  background-position: -1px;}
.index_skin{ background-image:url(../imgs/rtdream/skin1.png); background-repeat:no-repeat; }
.index_min{ background-image:url(../imgs/rtdream/min1.png); background-repeat:no-repeat; background-position: 0 9px;}
.index_max{ background-image:url(../imgs/rtdream/max1.png); background-repeat:no-repeat; }
.index_close{ background-image:url(../imgs/rtdream/close1.png); background-repeat:no-repeat; }
/*list样式*/
.list_bs{cursor: pointer;}
.list_bs table{
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	table-layout:fixed;
	background-color: #002c4c;
}
.list_bs tr:nth-of-type(even){
background-color: #002c4c;
}
.list_bs tr:nth-of-type(odd){
background-color: #002c4c;
}
.list_bs tr:hover {
	background-color: #1079c7;
}
.list_bs td{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding: 5px;
}